.title {
  font-size: large;
  font-weight: 600;
}

.a {
  background-color: #f1fcf2;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #f1fcf2;
}
.b {
  background-color: #dff9e3;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #dff9e3;
}
.c {
  background-color: #c0f2c8;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #c0f2c8;
}
.d {
  background-color: #8fe69e;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #8fe69e;
}
.e {
  background-color: #57d16c;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #57d16c;
}
.f {
  background-color: #31b948;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #31b948;
}
.g {
  background-color: #229736;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #229736;
}
.h {
  background-color: #1e772d;
  width: 75px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: #1e772d;
}
