.bigbox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100px;
}
