@font-face {
  font-family: "HakgyoansimNadeuriTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: #f1efe7;
}

.nav {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 120px;
  height: 50px;
}

.link {
  font-family: "HakgyoansimNadeuriTTF-B";
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 24px;
  color: black;
}

.link > div:hover {
  background-color: #e8dd10;
  opacity: 0.8;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
}
